*{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f8f7f7;
}
.top a{
    color: #3f9942;
    text-decoration: none;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.sign-in{
    padding: 8px 16px;
    color: #3f9942;
    font-weight: bold;
    background-color: white;
    border: 2px solid #3f9942;
    border-radius: 4px;
    cursor: pointer;
}
.banner h2{
    font-size: 25px;
    margin: 0px 20px;
    color: rgb(75, 71, 71);
}
.banner{
    text-align: left;
    margin-top: 20px;
    background-image: url('./UI/banner.png');
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.explore{
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: #005c03;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    width: 250px;
    text-decoration: none;
}
.pillars{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.card1, .card2, .card3, .card4{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: x-small;
}
.card1 h3, .card2 h3, .card3 h3, .card4 h3{
    margin-top: 0;
    color: #333;
    font-size: medium;
}
.vision{
    margin-top: 40px;
    border-radius: 8px;
}
.vision p{
    margin-top: 0;
    color: #333;
    font-size: small;
}
.vision-card{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.card5, .card6, .card7{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: x-small;
}
.card5 h3, .card6 h3, .card7 h3{
    margin-top: 0;
    color: #333;
    font-size: medium;
}
.card5 a, .card6 a, .card7 a{
    padding: 8px;
    color: white;
    font-size: small;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 100px;
    text-decoration: none;
}
.card6 button{
    margin-top: 10px;
}
.card5{
    background-color: skyblue;
}
.card6{
    background-color: lightgreen;
}
.card7{
    background-color: rgba(255, 206, 142, 0.781);
}
.button{
    background-color: deepskyblue;
}
.button1{
    background-color: darkgreen;
}
.button2{
    background-color: darkorange;
}
.quote{
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    background-image: url('./UI/quotes.png');
    border-radius: 8px;
    font-size: medium;
    font-style: italic;
    color: #555;
}
.opinion h2{
    margin-top: 40px;
}
.opinion-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.opinion-table td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
.table-head{
    background-color: rgb(176, 209, 176);
    font-weight: bold;
}
.opinion th{
    padding: 12px;
    text-align: left;
}
.opinion select{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgb(176, 209, 176);
}
.opinion select option{
    background-color: white;
}
.news{
    margin-top: 40px;
}
.news h2{
    margin-bottom: 20px;
}
.news p{
    color: #333;
    font-size: small;
}
.new-card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
.contents{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.news-card1, .news-card2, .news-card3{
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
.news-card1 span , .news-card2 span, .news-card3 span{
    margin-top: 0;
    color: #333;
    font-size: 30px;
    font-weight: bold;
}
.news-image1{
    border-radius: 12px;
    justify-content: right;
    margin-right: 0px;
    margin-left: auto;

}
.news-image2{
   border-radius: 12px;
    justify-content: right;
}
.news-card1 button, .news-card2 button, .news-card3 button{
    padding: 8px;
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #005c03;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 100px;
    margin-top: 10px;
}
.news-card2 pre,.news-card1 pre, .news-card3 pre{
    font-size: small;
}
.donate-head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.donate pre{
    text-align: center;
    color: #333;
}
.donate-contents{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.donate-card1, .donate-card2, .donate-card3{
    height: fit-content;
    width: 200px;
    border-radius: 12px;
    border: 1px solid whitesmoke;
    background-color: white;
}
.donate-card1:hover, .donate-card2:hover,.donate-card3:hover{
    background-color: lightgreen;
}
.donate input{
    width: 100%;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
}
.donate button{
    padding: 8px;
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #005c03;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    width: 100px;
    margin-top: 10px;
}
.subscribe{
    background-color: rgb(176, 209, 176);
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}


.subscribe h2 {
    color: #005c03;
    margin-bottom: 10px;
}


.input {
    display: flex;
    justify-content: center;

}

.input input {
    width: 50%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;
    border-radius: 8px;
    margin-right: none ;
}

.input input:focus {
    border: 1px solid #005c03;
}

.input button {
    padding: 8px 15px;
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #005c03;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: none;
}

.input button:hover {
    background-color: #008000;
}
.closing{
    text-align: center;
    margin-top: 50px;
}
@media screen and (max-width: 800px) {
   *{
    margin: 5px;
    padding: 0;
}
 
  .banner {
    font-size: small;
    
  }
  .explore{
    width: fit-content;
    height: fit-content;
    font-size: xx-small;

  }
  .banner h2{
    font-size: medium;
  }
  .top{
    font-size: xx-small;
    display: flex;
    flex-direction: column;
    
  }
  .sign-in{
    font-size: xx-small;
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
  }
  .pillars{
    display: flex;
    flex-direction: column;
}
.vision-card{
    display: flex;
    flex-direction: column;
}
.contents{
    display: flex;
    flex-direction: column;
    font-size: xx-small;
}
.news span{
    font-size: small;
}
.news-image1{
    display: none;

}
.news-image2{
   display: none;
}
.news-card2 pre,.news-card1 pre, .news-card3 pre{
    font-size: xx-small;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.subscribe{
    font-size: xx-small;
    flex-wrap: nowrap;
}


.subscribe h2 {
    font-size: small;


}
.donate{
    flex-wrap: nowrap;
    font-size: xx-small;
}
.donate-head{
    font-size: small;
}
.input {
    display: block;
    justify-content: center;

}

.input input {
    width: 50%;

}
.al-jazeera{
    width: 100px;
    height: 100px;
}
.vision-card button{
    font-size: xx-small;
    width: fit-content;
    height: fit-content;
}
.news button{
    font-size: xx-small;
    width: fit-content;
    height: fit-content;
}
.donate button{
    font-size: xx-small;
    width: fit-content;
    height: fit-content;
}
.subscribe button{
    font-size: xx-small;
    width: fit-content;
    height: fit-content;
}
.donate input{
    font-size: xx-small;
    padding: 5px;
}
.subscribe input{
    font-size: xx-small;
    width: fit-content;
    height: fit-content;
}
.donate pre{
    white-space: normal;
    font-family: inherit;
    margin: 1em 0;
    display: block;
    
}
.subscribe pre{
    white-space: normal;
    font-family: inherit;
    margin: 1em 0;
    display: block;
}
.new-cards pre{
    white-space: normal;
    font-family: inherit;
    margin: 1em 0;
    display: block;
}
}
